<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mt-4 heading">
        Welcome to the User Management System
    </h1>
    <p class="paragraph mt-3">Streamline Your User Management Effortlessly with
        Our
        Intuitive Platform. </p>
    <a mat-stroked-button color="primary"
        class="user-button my-4" routerLink="/Ums/user">User Management</a>
    <img src="../../../../../../assets/images/Main Page.jpg"
        alt="Background Image"
        class="background-image">
</div>