<mat-toolbar color="primary">
    <img
        src="../../../../../../assets/images/android-chrome-512x512-removebg-preview.png"
        alt="User Management" style="width: 50px;cursor:pointer"
        routerLink="/Ums/home">
    <div class="spacer"></div>

    <ng-container *ngFor="let link of getNavigationLinks()">
        <a class="me-3" mat-button
            [routerLink]="link.route">{{ link.label }}</a>
    </ng-container>
    <a class="me-3" mat-button *ngIf="isLoggedIn"
        (click)="logout()">Logout</a>
</mat-toolbar>
