<div class="container mt-3" *ngIf="!isDialogMode">
    <div class="d-flex justify-content-between mb-4">
        <h1>Add User</h1>
        <a mat-button routerLink="/Ums/user">
            <mat-icon>arrow_back</mat-icon> Back
        </a>
    </div>
    <ng-container *ngTemplateOutlet="userFormTemplate"> </ng-container>

</div>

<div class="container mt-3" *ngIf="isDialogMode">
    <div class="d-flex justify-content-between">
        <h2 mat-dialog-title>Edit User</h2>
        <button mat-icon-button mat-dialog-close aria-label="Close">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content>
        <ng-container *ngTemplateOutlet="userFormTemplate"></ng-container>
    </mat-dialog-content>

    <mat-dialog-actions class="d-flex justify-content-end mb-2">
        <button mat-raised-button color="warn"
            mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="addUserForm.invalid" (click)="onSubmit()"
            mat-dialog-close>Save</button>
    </mat-dialog-actions>

</div>

<ng-template #userFormTemplate>
    <form [formGroup]="addUserForm">
        <div class="row">
            <input matInput formControlName="id" hidden />
            <mat-form-field class="mb-3 col" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" />
                @if (commonFunctionService.controlValidity(addUserForm,
                'firstName')) {
                <mat-error>
                    {{ commonFunctionService.getErrorMessage(addUserForm,
                    'firstName', 'First Name') }}
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="mb-3 col" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
                @if (commonFunctionService.controlValidity(addUserForm,
                'lastName')) {
                <mat-error>
                    {{ commonFunctionService.getErrorMessage(addUserForm,
                    'lastName', 'Last Name') }}
                </mat-error>
                }

            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="mb-3 col" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
                @if (commonFunctionService.controlValidity(addUserForm,
                'email')) {
                <mat-error>
                    {{ commonFunctionService.getErrorMessage(addUserForm,
                    'email', 'Email Address') }}
                </mat-error>
                }

            </mat-form-field>

            <mat-form-field class="mb-3 col" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone" />
                @if (commonFunctionService.controlValidity(addUserForm,
                'phone')) {
                <mat-error>
                    {{ commonFunctionService.getErrorMessage(addUserForm,
                    'phone', 'Phone Number') }}
                </mat-error>
                }

            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="mb-3 col" appearance="outline">
                <mat-label>Street</mat-label>
                <input matInput type="text"
                    formControlName="street" />
                @if (commonFunctionService.controlValidity(addUserForm,
                'street')) {
                <mat-error>
                    {{ commonFunctionService.getErrorMessage(addUserForm,
                    'street', 'Street') }}
                </mat-error>
                }

            </mat-form-field>

            <mat-form-field class="mb-3 col" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="city" />
            </mat-form-field>
        </div>

        <div class="row">

            <mat-form-field class="mb-3 col" appearance="outline">
                <mat-label>State</mat-label>
                <input matInput type="text"
                    formControlName="state" />
            </mat-form-field>

            <mat-form-field class="mb-3 col" appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput type="text" formControlName="userName" />
                @if (commonFunctionService.controlValidity(addUserForm,
                'userName')) {
                <mat-error>
                    {{ commonFunctionService.getErrorMessage(addUserForm,
                    'userName', 'User Name') }}
                </mat-error>
                }
            </mat-form-field>

        </div>

        <div class="row">
            <mat-form-field class="mb-3 col-6" appearance="outline">
                <mat-label>Role Type</mat-label>
                <mat-select formControlName="roleId">
                    <mat-option *ngFor="let role of userRoles"
                        [value]="role.id">
                        {{ role.role }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            @if (!isDialogMode || !isAdmin) {
            <mat-form-field class="mb-3 col-6" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'"
                    formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ?
                    'visibility_off' : 'visibility'}}</mat-icon>

                @if (commonFunctionService.controlValidity(addUserForm,
                'password')) {
                <mat-error>
                    {{ commonFunctionService.getErrorMessage(addUserForm,
                    'password', 'Password') }}
                </mat-error>
                }
            </mat-form-field>
            }
        </div>

        <div class="d-flex justify-content-end" *ngIf="!isDialogMode">
            <button mat-raised-button color="warn" class="me-2">Cancel</button>
            <button mat-raised-button color="primary"
                type="submit" (click)="onSubmit()">Save</button>
        </div>

    </form>
</ng-template>
