<div class="mb-3 d-flex justify-content-end align-items-center">
    <mat-form-field class="p-0" *ngIf="showFilterOption"
        style="margin-bottom: -1.25em">
        <input matInput (keyup)="applyFilter($event,filterDataColumn)"
            placeholder="Search">
    </mat-form-field>

    <a mat-raised-button color="primary" class="ms-3" routerLink="/Ums/adduser"
        *ngIf="userRole==='Admin'">Add
        User</a>

    <button mat-raised-button color="warn" class="ms-3"
        *ngIf="selectedUserIds.length>0"
        (click)="deleteSelectedUsers()">Delete Selected</button>

</div>

<div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="dataSource" matSort
        [matSortActive]="sortActiveColumn"
        [matSortDisableClear]="sortDisabledClear"
        [matSortDirection]="sortDirection" [matSortDisabled]="disabledSorting">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="toggleSelectAll($event)"
                    [checked]="isAllCellsSelected()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let user">
                <mat-checkbox
                    (change)="toggleSelection($event, user.id)"
                    [checked]="isHeaderSelected && isCheckboxSelected(user.id)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container *ngFor="let column of displayedColumns"
            [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef
                [mat-sort-header]="isSortEnabled(column) ? column : null"
                [disabled]=" isSortEnabled(column) ? false : true ">
                {{column | titlecase }}
            </th>
            <td mat-cell *matCellDef="let user">
                <span>{{ user[column]}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center">
                Action
            </th>
            <td mat-cell *matCellDef="let user">
                <button mat-icon-button color="primary"
                    (click)="editUser(user)" *ngIf="hasEditButton()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn"
                    (click)="deleteUser([user.id])" *ngIf="hasDeleteButton()">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="addAnotherColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: addAnotherColumn;"></tr>
    </table>

    <mat-paginator *ngIf="userRole==='Admin'"
        [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
        [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons"
        [hidePageSize]="hidePageSizeOption" [disabled]="disabledPagination"
        [length]="pageSize"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
