<div class="container d-flex justify-content-center align-items-center"
    style="height: 80vh;">
    <mat-card class="my-3 align-content-center text-center card w-50 shadow">
        <mat-card-content>
            <h1 class="mat-title-large mb-3">Login</h1>
            <form [formGroup]="loginForm" class="d-flex flex-column">
                <mat-form-field class="form-field mb-2">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="userName" />
                    @if (commonFunctionService.controlValidity(loginForm,
                    'userName')) {
                    <mat-error>
                        {{ commonFunctionService.getErrorMessage(loginForm,
                        'userName', 'User Name') }}
                    </mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="form-field mb-2">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"
                        formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ?
                        'visibility_off' : 'visibility'}}</mat-icon>

                    @if (commonFunctionService.controlValidity(loginForm,
                    'password')) {
                    <mat-error>
                        {{ commonFunctionService.getErrorMessage(loginForm,
                        'password', 'Password') }}
                    </mat-error>
                    }
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="submit()"
                    type="submit">Login</button>
            </form>
            <div class="mt-2">
                <a routerLink="/forgotpassword">Forgot password?</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>
